<div class="card">
    <div class="card-header card-inverse bg-danger">
        <h5>Announcements</h5>
    </div>
    <div class="card-block">
        <ul>
            <li><strong>Welcome to the beta!</strong> We are working hard to get things up to speed. If you see something wonky send me an email. If you don't know how to email me, then how did you get here?!</li>
            <li><strong>This is the patient's section of the app.</strong> There are also sections for providers (Doctors, nurses, councilors, lab peeps) and administration (office folks and management). The data we get from you is presented to the other sections as appropriate. Not much going on over there just yet but if you want to check out that side of things let me know!</li>
            <li><strong>You will get emails from us asking you to take care of your alerts.</strong> Please take the actions listed in the alerts tab even if the info you fill in right now is fake. It will help us stub all the features out with real people looking at them.</li>
            
        </ul>
    </div>
</div>

<%= render "shared/change" %>
