<div class="jumbotron bg-danger bg-faded">
    <h1>Real Time Healthcare from Ajax Health</h1></br>
    <h4>Don't Avoid Care Because it is Expensive, Make better Choices and Avoid the Doctor</h4>
</div>
<div class="col-md-4">
    <p><strong>Real Time Health</strong></p>
    <p>Your health is in constant flux, but how often do you go to the doctor?</p>
</div><div class="col-md-4">
    <p><strong>Wellness Programs</strong></p>
    <p>Lower your healthcare bill by making good choices, not avoiding care.</p>
</div>
<div class="col-md-4">
    <p><strong>Population Health Management</strong></p>
    <p>Pay less for other people's bad health decisions.</p>
</div>
