<div class="jumbotron bg-danger bg-faded">
    <h1>Real Time Healthcare from Ajax Health</h1></br>
    <h4>For All The Time You Spend Outside The Doctor's Office</h4>
</div>
<div class="col-md-4">
    <p><strong>Real Time Health</strong></p>
    <p>Collecting All the Healthcare Data The Healthcare Industry Leaves Out.</p>
</div><div class="col-md-4">
    <p><strong>Wellness Programs</strong></p>
    <p>Get Paid to Live a Healthier Life.</p>
</div>
<div class="col-md-4">
    <p><strong>Population Health Management</strong></p>
    <p>Leveraging Data to Reduce Risk.</p>
</div>
