<div class="container">
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Inpatient Spending was Over $95M.</strong></li>
        <ul>
            <li>Top 3 Categories were:</li>
            <ol>
                <li>Circulatory System at over $13 M</li>
                <li>Musculoskeletal System and Connective Tissue at over $12.5 M</li>
                <li>Digestive System at over $9 M</li>
            </ol>
            <li><em>All of these are tangentially related to exercise and nutrituion. Target these areas.</em></li>
        </ul>
    </ul>
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Outpatient Spending was Over $115 M.</strong></li>
        <ul>
            <li>Outpatient Diagnositc Services accounted for over $45M.</li>
            <ul><li><em>Hard to go after this directly. However since it is used to figure out what is going on, we could make a good circumstanctial argument for how we are going to reduce this with real time health.</em></li></ul>
            <li>Outpatient Surgical Services accounted for over $70M.</li>
            <ul>
                <li>Top 4 Categories were:</li>
                <ol>
                    <li>Digestive Surgery at over $17M</li>
                    <li>Musculoskeletal Surgery at just under $13M</li>
                    <li>Female Genital Surgery at over $10M</li>
                    <li>Cardiovascular Surgery at over $8.5M </li>
                </ol>
                <li><em>This list looks very similar to the inpatient list...</em></li>
            </ul>
        </ul>
    </ul>
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Professional Spending was over $123M</strong></li>
        <ul>
            <li>Top Categories Include:</li>
            <ol>
                <li>Anesthesiology was the higest paid speciality at over $18.5M</li>
                <li>Orthopedic Surgery was the 4th highest paid at over $8M </li>
                <li>Gastroenterology was 10th at over $4.5M</li>
            </ol>
            <li><em>presumably a lot of this money is related to the exercise and nutrituion issues above.</em></li>
            </br>
            <li>Now Compare to "Preventative Health":</li>
            <ol>
                <li>Family Practice is 9th at over $5.4M</li>
                <li>Public health is 2nd to last at only $100K</li>
            </ol>
            <li><em>Seems out of order to me. Why wait until things have gone so wrong?</em></li>
            </br>
            <li>Mental Health numbers look even worse, and the trend is in the wrong direction!</li>
            <ol>
                <li>Psychology spending was over $1.5M but down ~15% from the previous year</li>
                <li>Psychiatry spending was about $1.4M and was up 49% from the previous year</li>
            </ol>
            <li><em>Do we really need more people on pills?</em></li>
        </ul>
    </ul>
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Emergency Spending was over $50M</strong></li>
        <ul><em>Again, this is hard to go after directly but real time health has got to help with this some, even if it is hard to prove.</em></ul>
    </ul>
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Ancillary Spending was over $22M</strong></li>
        <ul>
            <li>This includes things like Skilled Nursing Facilities and DME.</li>
        </ul>
        <li><em>Also seems hard to go after, but there must be an argument to be made.</em></li>
    </ul>
    </br>
    <ul class="list-unstyled">
        <li><strong>2015 Pharmacy Spending was over $65M</strong></li>
        <ul>
            <li>Top Therapuetic Classes include:</li>
            <ol>
                <li>Antidiabetics top the list at just under $9M. This is a 32% increase over 2014.</li>
                <li>Analgesics - Anti-Inflammatory was the third highest category at over $6M.</li>
                <li>ADHD/Anti-narcolepsy/Anti-Obesity/Anorexiants are the 5th highest category at over $3.5M <small>anyone else find this grouping strange?</small></li>
                <li>When you combine the various cardiac related categories you end up with over $4.5M (Antihyperlypidemics, Cardiac Angents - Misc, Antihypertensives).</li>
            </ol>
        </ul>
        <li><em>Again this list looks highly correlated to eating and exercise.</em></li>
    </ul>
</div>