<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#players" role="tab">The Players</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#process" role="tab">The Process</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="overview" role="tabpanel">
        </br>
        <blockquote class="blockquote">
            <p>... poorer health in the U.S. was not simply the result of economic, social, or racial and ethnic disadvantages—even well-off, nonsmoking, non-obese Americans appear in worse health than their counterparts abroad.</p>
        </blockquote>
        <p>
            This quote was taken from a 2015 <%= link_to "Commonwealth Fund analysis", "http://www.commonwealthfund.org/publications/issue-briefs/2015/oct/us-health-care-from-a-global-perspective" %>. The major findings of this study is that the US spends more than any other developed country, in both relative and absolute terms,
            while still landing last in most measures of health. There is no one reason for this as the US healthcare system is one of the most complex in the world. However it is clear to everyone who looks at the data the US needs to change the way we think about healthcare delivery.
        </p>
        <p>
            The system we have in this country is dominated by the fee for service model. Not all providers are paid this way, but it is the dominate method. This means when you go to the doctor, the doctor gets paid. If you consider your own experience with the healthcare industry, it probably sounds familiar. As a system is seems both simple and reasonable.
        </p>
        <p>
            Once you go beyond seems, the whole premise starts to break down. Let’s start with simple: Seems easy - doctor sees patient, doctor gets paid. But how does your health insurance company know that you needed to see the doctor in the first place? They don’t want to pay for just anyone to go to the doctor, only sick people should go to the doctor. Enter ICD Diagnosis coding.
            As of the last version used in the US, there are some 150,000 diagnosis codes. Every time your doctor bills your insurance, they have to pick the right combination of codes out of that 150,000. Ok, so now we know why you went to the doctor, but the insurance company does not want to pay for just any treatment, they want to pay for medically necessary treatment. Enter procedure codes.
            Depending on what kind of provider you are, there are up to three different coding systems used for procedure coding. Now we know what is wrong with you and what the provider did for those conditions, we move on to how much the provider is going to be paid and how that payment is allocated between insurance and the patient.
            Each and every provider has to contract with each and every insurance they accept. Then the payer and the provider argue about certain types of payments that are important to that specific doctor until they reach an agreement. Once the agreement is made, the provider can be paid. But what percentage of the payment should come from the insurance company and what percentage should come
            from the patient? Turns out the answer often depends on what time of year it is. Generally the patient pays a higher percentage of their healthcare expense in the early parts of the year until they meet their deductible. Not knowing each and every patient's deductible status, the provider has to verify the insurance status of every patient that comes in
            so they can ask the patient to pay their share at that point in the year. And it goes on and on like this until the doctor gets paid.
        </p>
        <p>
            If the above seems simple to you, I challenge you to work in a healthcare billing department for a while and report back. The system is byzantine to say the least.
        </p>
        <p>
            Let us move on to the reasonable assumption. In most markets you pay a price to offset the seller for their cost of doing business. That is also how we do things in the healthcare industry. However healthcare is not like buying a pack of gum, and should not be treated as such. It is expensive to be a healthcare provider, there are regulatory costs, staffing costs, supply costs, student loan costs, rent, utilities and so on.
            Plus you never know how many people are going to be sick on a given day so you have to have staff for a variable level of sick people. All of that costs money. To pay for all those costs, providers need to see patients. After all, they only get paid if they perform procedures. To stay in business, a healthcare provider needs a steady stream of people coming through their doors or they will not be able to cover their fixed costs.
            To cover costs and realize a profit, healthcare providers have borrowed tactics from the airline industry. They are trying to squeeze more and more people into their tiny spaces, they even over book just like the airlines (want to see a doctor loose it? Break the news that they have a 3 hour hole in their schedule...). Healthcare costs are always rising while reimbursements are mostly shrinking. Their only defense against rising costs and lower
            revenue is more volume. With a large volume of patients to care for, there is no time for a provider to go out and find sick people who need help. Even if a provider did divert resources to the goal of proactive health management, that would require an increase in volume elsewhere to offset the cost. The way we pay healthcare providers is getting in the way of them doing the job we want them to do!
        </p>
        <p>
            You may have noticed that at no point does the health of the patient enter into the discussion of how providers are paid. Systems where you pay for outcomes, rather than resources used, are being called value based purchasing. The idea is that fee for service encourages too many services while value based purchasing will tie dollars spent to health outcomes.
        </p>
        <p>
            Value based purchasing has been slow to catch on for many reasons. We will explore the barriers to value based purchasing in subsequent sections.
        </p>
    </div>
    
    <div class="tab-pane" id="players" role="tabpanel">
        </br>
        <p>
            The US healthcare system is a three legged stool that is supposed to support patient health. The three legs are Healthcare Providers, Healthcare Insurers, and the Patients. Below we will discuss their roles in the system and explore why things have gotten so bad from the perspective of each.
        </p>
        <p>
            <strong>Healthcare Providers</strong> are the first leg of the stool, and what most of us think of when we think of healthcare. Providers can be sub-divided into facilities and practitioners. Facilities are things like hospitals, surgical centers, dialysis clinics and such. The <em>places</em> where care happens.
             Practitioners are Doctors, Nurses, ARNPs, PA-C, and various other <em>people</em> who provide healthcare. We talked some about the fee for service model in the overview section, and that is a major problem. However there is another problem at the provider level: visibility. Your Doctor only knows what you tell them, or what they observe with their own eyes.
             Sure, there are medical records and they are becoming more and more electronic and easier to access. But how does your primary care doctor know that you have been to the hospital? Someone tells them, and who is that someone? Well, nobody but you. It is not the responsibility of any health care provider to make sure they know everything that is relevant, that burden is on the patient.
             Herein lies the problem, patients don't always know what is important - they are not trained medical professionals. Even when patients do know something is important, patients often do not tell the whole truth. People are embarrassed about their problems and do not want people to know that they are weak so they hide important information from the provider. Even assuming a model patient who knows what is relevant
             and shares that information with their provider, healthcare provides are a fractured landscape. Each provider has their own specialty and patient load because the knowledge required to be a provider is very specific and detailed - no one provider can know it all. As such your relevant health information is scattered across patients who are not the most reliable and various medical records
              all over the country, some in paper format and some in electronic format. Is it any wonder that your providers know so little about you?
        </p>
        <p>
            <strong>Healthcare Insurers</strong> are the second leg of the stool. Private payer insurance is one of the defining characteristics of the US healthcare system when compared to our peers abroad. Other countries rely more heavily on government insurance to defray costs, or rely less heavily on insurance in general. In the US market, insurance is being asked to act in a capacity which is totally out of synch with the original purpose of health insurance.
            When health insurance was first sold in the US starting in the early 1900's, it was called hospital insurance. Its purpose was to help defray the cost of a large accident or illness. It was not designed for every day health care needs. As time went on, clever health insurance executives realized there was money to be made insuring other health concerns besides just hospitals. Once that trend began we were on the road to health insurance being involved at every step
            of the healthcare chain. Today we have insurance for every healthcare item: wellness visits, prescription medication, durable medical equipment and so on. Now that we buy health insurance for all health needs, we expect more from our insurance. We expect them to control costs, we expect them to pay for everything, we expect them to keep up on medically necessary treatment methods, we expect them to keep abreast of new medications, and so on. That is natural given what we pay for health insurance.
            In Florida, the average health insurance premium state wide is $460.00 a month. That is a lot of money! The problem is that insurance companies are in the business of taking in premiums as revenue and paying out claims as an expense. Every dollar they spend on your healthcare is a dollar that does not go into someone else's pocket. But, let us assume that the insurance companies do not have a vested interest in you not using healthcare services, the fact is the insurance companies have no idea what is actually happening
            when you go to the doctor! When you visit a provider, they submit a claim form to the insurance company that tells them who you are, what is wrong with you, and what they did. The insurance company responds by paying them some money and telling them how much you are supposed to pay in copay, coinsurance, and deductibles. Everything the insurer knows about you comes from these claim forms. But one noticeable thing that is missing from the claim from is how healthy you are.
            From the perspective of a health insurance company, members are collections of diagnosis codes and procedure codes. If your knee is in pain, but you have not been to a provider for it that is the same to the insurance company as not having knee pain at all. Is that the same thing to you?
        </p>
        <p>
            <strong>Patients</strong> are the last leg of the stool. The whole system is in place to provide healthcare to patients. However the existence of this very large and very costly system has made many patients feel like their health is not their own responsibility. The patient feels like they are always paying for healthcare, but not getting any healthier for it. Recall the $460 average premium in Florida - that does not include copays or coinsurance or deductibles. Why are they not getting any healthier despite record
            healthcare spending and utilization? Poor compliance is why. We as Americans believe that technology will save us. It most likely will when it comes to our health. But that day has not yet come. We live in a world full of processed foods, livestock hormones, and desk jobs. We commute hours a day each way. We hardly ever exercise. These are the problems that have the biggest impact on their health. But the healthcare system makes little to no effort to fix those problems because those are problems of patients. Doctors did not go to school until
            they were 30 to nag you about your diet every day. Insurance companies are not going to help either because every dollar they spend on proactive health is one less dollar of profit. Even if providers or payers wanted to help, there is no infrastructure for them to actually help you. There is no pill that will turn your desk job into a standing job that allows one hour of paid exercise time every day. There is no surgery for the fact that you eat pizza four times a week. There is no diagnostic procedure that will shave time off of your commute.
            Maybe once the robots have taken all our jobs we will have better health. But I am still sitting at my desk all day writing SQL scripts. All of this does not even take into account that patients are not always honest about their health status. They
            are embarrassed to tell their doctor they have not exercised on purpose in 3 years. So they lie or omit information. That leaves the patient as the only leg of the stool that knows all the relevant information, but also the leg of the stool least able to act on this information.
        </p>
        <p>
            These are the players in the healthcare game. In the next section we will talk some about how these players interact to deliver healthcare.
        </p>
    </div>
    <div class="tab-pane" id="process" role="tabpanel">
        </br>
        <p>
            Under the current system, most healthcare starts with a patient presenting symptoms.
        </p>
        <p>
            From there the patient, or the insurer depending on the type of health plan we are talking about, decide what kind of facility is best suited to treat those symptoms. The chiropractor is not a good first stop after you were in a plane crash. Likewise, the ER is not the place to go
            if you have a paper cut on your finger. Once at a facility, a practitioner takes a survey of the patient’s health. This is called a History and Physical, or H&P. From there the practitioner decides, with input from the patient, on a course of treatment for the symptoms presented.
            After treatment is administered, the patient is sent home with some instructions as to how to care for their issue at home. There is often a follow-up appointment to assess progress.
        </p>
        <p>
            Behind the scenes it looks slightly different. Patient presents with a problem, once at a facility the administrative staff takes the patient's insurance information. They log on to the payers website and verify the insurance. They find out where the patient is at with regards to their deducible
            and make sure the insurance is going to pay for whatever treatment it seems like is going to be needed. Once they have an idea of the patient's financial responsibility, they discuss the payment options with the patient. If they can pay then they get help, if not then they are out of luck. After treatment
            has been administered and the patient has gone home, the administrative staff gather the medical records generated by the visit and start assigning codes. First they assign diagnosis codes based on the H&P that was taken. After that they assign procedure codes based on what was done.
            Once all the codes are assigned they take those codes and fill out a claim form and send it to the insurer. If the insurer accepts the claim, then the insurer sends a response to the provider called an Explanation of Benefits (EOB). The EOB tells the provider and the patient how much the provider is going to be paid
            and how that payment is allocated between the provider and patient.
        </p>
        <p>
            If after this process you are cured, great! If not, you will likely be referred to a specialist where the process unfolds again. If the problem lingers you go up the chain of specialists until they solve your problem or you give up.
        </p>
        <p>
            This process works great when there is a clearly defined problem, such as a broken leg, or the onset of cancerous growths. But what about the rest of the time? Who is monitoring your health then, trying to ward off knee pain before it happens rather than waiting until it hurts so much you need a knee replacement?
        </p>
        <p>
            The current system sees proactive health monitoring as the responsibility of the patient. That seems to make sense, the whole "you made your bed, now sleep in it" idiom.
        </p>
        <p>
            The problem is patients are the least well equipped to proactively solve their own health issues. They do not have the knowledge or skill to know what is wrong with them before it hits them in the face. Alternatively, the people who do have the knowledge and skill to work with people to proactively manage health don't get paid to 
            do that. And even if they did have a contract with a payer for proactive health management, there is no support for that physician to do that. Their practice management system is not set up for continuous monitoring, their electronic health record is not designed with that sort of use case in mind, and their staff were trained in hospitals
            that did not prevent health issues but rather treated already existing health problem. The entirety of the system is designed to help people who already have problems, not people in the process of creating a problem...
        </p>
        <P>
            These are the problems we are trying to tackle at Ajax Health. Read the "Our Solution" Section to learn more.
        </P>
    </div>
</div
