<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#patients" role="tab">For Patients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#providers" role="tab">For Providers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#payers" role="tab">For Payers</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="overview" role="tabpanel">
    </br>
    <P>
      Ajax Health is an Outpatient provider of Population Health Management services. This means we are a healthcare facility, not a practitioner. As such, our job is to provide the infrastructure and oversight necessary to conduct population health management.
      Various practitioners will use our facility and the resources we provide to proactively manage the health of their patients.
    </P>
    <p>
      The primary method for effecting population health is this very web application. We are creating an entirely new type of practice management systems to help healthcare providers do the job we want them to do, rather than the job they are doing now.
      Our system is based on the principle that important health factors can be measured, either quantitatively or qualitatively, and by tracking changes in these important health measures over time we can proactively manage health.
    </p>
    <p>
      Most practice management systems are aimed at helping providers manage the process we discussed in the problem section. Things like scheduling appointments, capturing patient insurance information, archiving medical records, coding procedures, submitting claims, regulatory reporting and so on.
      Ajax Health is aimed at identifying patients with deteriorating health as indicated by the health measures our staff are taking. By taking regular measurements we are going to avoid waiting for the problem to surface before we start to treat the patient. If we have an older patient who is gaining weight rapidly,
       we know for a fact that they are headed for health problems down the road. Clinical research has already proven the link between being overweight and having worse health. So our goal is to make a tool which will allow us to identify the high risk patients before risk become reality.
    </p>
    <p>
        Why are people not already doing this? Well because they are too busy doing that! A typical doctor's office spends all day treating the patients in their waiting room. Our staff will spend all day looking for patients with deteriorating health. Well, likely the patient already knows they have deteriorating health,
        how are we going to get a patient to do something different in the face of no new information? Enter Wellness programs. The Affordable Care Act had many provisions attached to it. A rarely noticed one was the massive expansion in what is allowed to be called a wellness program.
        Wellness programs are of two types, one that pays everyone who satisfies a condition (participatory wellness programs) and one that rewards people for changes in health (health contingent wellness program). An example of a participatory wellness program is one where every member of an insurance plan who maintains a gym membership will get 100$ a year towards the cost of their gym membership.
        The other type of wellness program, and the one most impacted by the ACA, are health-contingent wellness programs. These types of programs reward patients who make certain changes in their health. For example people who reduce their blood sugar by 10% in a given quarter get rebate for their health insurance company.
    </p>
    <p>
        The healthcare industry has a well-defined stick: ever increasing cost. However until now there was no clear carrot. But now that we have more robust wellness program parameters, we can craft carrots to target various high risk groups. We know we spend a lot of money on treating diabetes. Why not pay the patient some money to proactively manage
        their diabetes and prevent becoming diabetic in the first place?
    </p>
    <p>
        Healthcare is a three legged stool. To make an impact you must provide value to each of the three legs. Read on as we discuss the main objectives and plans to realize our goals in the subsequent sections.
    </p>
  </div>
  <div class="tab-pane" id="patients" role="tabpanel">
    </br>
    <p>
      Patients are the drivers of the healthcare system. But I doubt most patients would feel that way. Usually you wait for something to go wrong and then a doctor tells them what to do. But there has to be a better way...
    </p>
    <p>
      We will offer several services to patients to try and change how the system operates. The first is tracking services and the second is Wellness programs. The first tells you where you need to improve, the second gives you a monetary reward for doing do.
    </p>
    <p>
      Before you can improve your health, you need to know how you are unhealthy. Unless you have had a specific reason to measure various aspects of your health, you likely have not. You may know how much you weigh and how that has changed over time. But how about you potassium levels? What about your hydration, blood glucose levels, or any other important health measure?
      Rather than waiting for you to have a problem because your body is out of whack, we can track these levels over time and give insight into how an individual’s health is changing. At Ajax we get the benefit of data and a patient gets the benefit of knowledge. In the end it is the responsibility of the patient to live a healthy life. Doctors can, to various extents, help you when you break, but why break in the first place?
    </p>
    <p>
      We know that poorer health leads to higher healthcare costs. We may not know when those costs will occur but in the end, unhealthy people cost more money than healthier people. Since patients are in charge of their health, it is imperative that we get patients the tools to proactively manage their own health. But just knowing that you are unhealthy
      does not make you healthier, you need to change your behavior. This has historically been the major challenge of the healthcare industry. The Affordable Care Act expanded the scope of wellness programs specifically to give insurance companies shaper knives in the quest to cut healthcare costs.
      For patients this means that it is easier for health insurance companies to pay you to get healthier. Keeping track of who is getting healthier is not something that insurance companies are good at though, and that is a service that Ajax Health can provide. By tracking the change in health measures over time, we will have exactly the kind of data payers need to evaluate who should be paid under a health contingent wellness program.
      This means we can help patients get paid to make better decisions and to proactively manage their health.
    </p>
    
  </div>
  <div class="tab-pane" id="providers" role="tabpanel">
    </br>
    <p>
      Most healthcare providers are very busy. They have to have patients in order to cover their fixed costs which are always increasing. However I would wager that the majority of providers did not get into healthcare to see the required daily volume of patients necessary to pay the bills.
    </p>
    <p>
      To the provider there is no other choice; this is how they get paid and rather than go out of business they have to see patients, and as many as they can.
    </p>
    <p>
      Ajax health is going to have an entirely different kind of contract with payers. Rather than getting paid to see patients we will be paid to collect data and provide the tools necessary to leverage that data to effect the health of patients. By partnering with us providers can get off the patient volume treat mill and start to spend their time seeking out the areas where they can do the most good.
      There are too ways to reap the rewards of proactive health management.
    </p>
    <p>
      The first is to work directly with us. Under this arrangement providers will spend their time monitoring groups of patients and identifying areas of improvement. By helping to improve the health of their chosen subset of patients you can effect real change and help your patients to get paid in the process.
    </p>
    <p>
      The second way is to subscribe to our data services. Under this arrangement you would be effectively outsourcing some of your data collection activities. Rather than waiting for patients to show up and then trying to take critical health measures you will have access to many of those same measurements already through our data services. This will increase your margin since most payer contracts pay some sort of fee for service.
      You will have the same fee but will not have to spend as much time taking the same basic measurements over and over. Additionally you can ask us to keep track of patient progress for any goals you have set for them and help them get paid in the process.
    </p>
    <p>
      Lastly, you can refer your patients for our services. If we have successfully contracted with their insurance we can help them to proactively manage their own health and possible make some money as well. If your group is happy with our services, you could think about making a financial investment with us and create a new revenue stream for the same number of patients. This can help you to get off the volume treadmill and allow you to focus on the issues of importance to you and your practice.
    </p>
  </div>
  <div class="tab-pane" id="payers" role="tabpanel">
    </br>
    <p>
      For payers we offer the promise of better insight. Most providers are paid to treat conditions and the payers pay them after the services are rendered. This is called a retrospective payment system and it is the most common way that healthcare providers get paid.
    </p>
    <p>
      This creates great uncertainty for the payer since you never know which services will be rendered in any given period. Ajax Health will seek to reduce the risk of unknown health deterioration. By tracking the health of populations over time we can help payers to stay competitive with their
      rates and increase market share. We also offer wellness program administrative services. The American health profile is marked by significant increases in preventable health conditions. Poor diet and lack of exercise is causing healthcare costs to increase year after year. We will offer payments to patients
      who make progress towards reducing or eliminating their risk for preventable health conditions such as diabetes and obesity.
    </p>
    <p>
      We will provide contracted payers with information not found in claims or medical record audits - Data that even the most vertically integrated HMOs do not have access to. Namely what happened in between any interactions with the health care system. Patients who use this data to improve their health and reduce risk will be rewarded
      with payments under our targeted wellness programs.
    </p>
    <p>
      Our contracting strategy for our provider services is a mix of capitation and fee for service. Capitation revenue will be used to collect and provide access to population health data. We will also bill the appropriate Evaluation and Management CPT codes when specialists are needed to review individual patient data. 
      For our Wellness Program services we charge an administrative fee for enrolled members to offset the costs of administering any wellness programs a payer would like to offer their members.
    </p>
  </div>
</div>
