<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#realtime" role="tab">Real-Time Health</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#wellness" role="tab">Wellness Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#method" role="tab">Methodology</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="overview" role="tabpanel">
    </br>
    <P>
      Ajax Health is an Outpatient provider of Population Health Management services. This means we are a healthcare facility, not a practitioner. As such, our job is to provide the infrastructure and oversight necessary to conduct population health management.
      Various practitioners will use our facility and the resources we provide to proactively manage the health of their patients.
    </P>
    <p>
      The primary method for effecting population health is this very web application. We are creating an entirely new type of practice management systems to help healthcare providers do the job we want them to do, rather than the job they are doing now.
      Our system is based on the principle that important health factors can be measured, either quantitatively or qualitatively, and by tracking changes in these important health measures over time we can proactively manage health.
    </p>
    <p>
      Most practice management systems are aimed at helping providers manage the process we discussed in the problem section. Things like scheduling appointments, capturing patient insurance information, archiving medical records, coding procedures, submitting claims, regulatory reporting and so on.
      Ajax Health is aimed at identifying patients with deteriorating health as indicated by the health measures our staff are taking. By taking regular measurements we are going to avoid waiting for the problem to surface before we start to treat the patient. If we have an older patient who is gaining weight rapidly,
       we know for a fact that they are headed for health problems down the road. Clinical research has already proven the link between being overweight and having worse health. So our goal is to make a tool which will allow us to identify the high risk patients before risk become reality.
    </p>
    <p>
        Why are people not already doing this? Well because they are too busy doing that! A typical doctor's office spends all day treating the patients in their waiting room. Our staff will spend all day looking for patients with deteriorating health. Well, likely the patient already knows they have deteriorating health,
        how are we going to get a patient to do something different in the face of no new information? Enter Wellness programs. The Affordable Care Act had many provisions attached to it. A rarely noticed one was the massive expansion in what is allowed to be called a wellness program.
        Wellness programs are of two types, one that pays everyone who satisfies a condition (participatory wellness programs) and one that rewards people for changes in health (health contingent wellness program). An example of a participatory wellness program is one where every member of an insurance plan who maintains a gym membership will get 100$ a year towards the cost of their gym membership.
        The other type of wellness program, and the one most impacted by the ACA, are health-contingent wellness programs. These types of programs reward patients who make certain changes in their health. For example people who reduce their blood sugar by 10% in a given quarter get rebate for their health insurance company.
    </p>
    <p>
        The healthcare industry has a well-defined stick: ever increasing cost. However until now there was no clear carrot. But now that we have more robust wellness program parameters, we can craft carrots to target various high risk groups. We know we spend a lot of money on treating diabetes. Why not pay the patient some money to proactively manage
        their diabetes and prevent becoming diabetic in the first place?
    </p>
    <p>
        Read on as we discuss the main objectives and plans to realize our goals in the subsequent sections.
    </p>
  </div>
  <div class="tab-pane" id="realtime" role="tabpanel">
    </br>
    <p>
      Real-Time Health is our catch-phrase to point out that most of your health care documentation is not real time. It is on Doctor Time - By that I mean your health is measured when you go to the doctor. Which is fine for what they are trying to accomplish.
    </p>
    <p>
      However we are not trying to accomplish the same thing as what has been done, so we need to change how we measure health. The first step is to create a medical record for the rest of the time, the times when you are not at the doctor. This way we can see problems that are developing rather than waiting for the problem
      to burst onto the scene fully formed. This is the main goal of the Ajax Health Web app. It will be the way we track changes over time, decide who needs what measured and how often, figure out who has measurements coming up soon, and the various other logistical challenges that real time health tracking create.
    </p>
    <p>
      The medical record for the rest of the time will look very different from your standard medical record. We are going to be collecting measurements, both quantitative and qualitative, and tracking them over time. Quantitative measures include things like weight, potassium levels, protein in urine, and water as a percent of blood and so on.
      Qualitative measures are things like number of time gone to doctor in last 3 months, how does your knee feel, what happens to your energy level over the course of the day, et cetera. From these measures we will be able to assemble a picture of the health of various subsets of a population. We will be able to say that white men over the age of 50 gained 2lb on average this year.
      Black women between 25 and 50 had an increase in insulin in the blood stream. Tallahassee is going to the doctor less frequently.
    </p>
    <p>
      This is in stark contrast to a typical medical record. Traditional medical records list what the patient was like on the visit, and what happened to them. You can compare over time what the patient was like, but only for the medical records you have. If the patient is going between doctors, you must get medical records from each doctor, load them into a system, and analyze them over time.
      Even after you have done that, there is still the issue of the medical record only representing a very small fraction of your days. The medical record may well be very accurate and complete with regards to your visit to that provider on that day, but leaves out everything else.
    </p>
    <p>
      When compared to what a payer knows about a patient, Ajax Health again has many advantages. Payers have all the patient's demographic data and all their claims history. But claims do not paint a picture of health, they tell the payer what they owe for services rendered. The payers have the advantage of knowing more about a patient over time
      than any given provider since they get claims from all the providers a patient goes to. But that data is less rich in information.
    </p>
    <P>
      Another benefit of the measure and track method is that it limits the damage done by patient miss-representation. While I will not go so far to say that patients are liars, they will certainly leave things out. Ask an overweight patient about their eating habits and see what they say. Regardless of the answer, there is no way to know. Maybe they did only eat 2 crackers, or maybe ate two crackers with their 4 pounds of cheese.
      To the Ajax Health System it is irrelevant how much you ate, only that your weight went up or down. This is one of the keys of our approach - Patients are not always helpful and providers are concerned with the patients in their waiting room. Ajax Health does not care what you say, only what we measured and we measure more often than when you are at the doctors.
    </P>
    <p>
      Real-Time health is here to solve real time problems. Your health does not deteriorate or improve only when you are at a provider’s office - it is in constant flux. We are going to measure this flux and bring data to bear that has never been available before.
    </p>
  </div>
  <div class="tab-pane" id="wellness" role="tabpanel">
    </br>
    <p>
      Wellness programs are the other way we bring value to the healthcare landscape. The Affordable Care Act (ACA) had many provisions, more than any one person knows about. One of the lesser known and implemented ones are an expansion of health contingent wellness programs.
    </p>
    <p>
    The reason that we have not seen more of these is simple, before the ACA, most health plans were in effect health contingent wellness plans. This is due to the practice known as medical underwriting. Under this system your insurance cost varies based on your medical conditions. If you have cancer, you also have a higher insurance premium.
    One of the biggest and well known aspects of the ACA is the prohibition against medical underwriting in the small group and individual markets. Large groups can still medically underwrite but since large groups have more people, it is less impactful since risk can be spread out amongst the larger group size. Now that medical underwriting is out, payers must use community rating in the small
    Group and individual markets. Community underwriting looks at the whole community and then sets rates. This way each individual makes less of an impact on the rate setting process since the community is much larger than a small group.
    </p>
    <p>
      The ACA increased the percentage of health premium that can be awarded to a wellness program participant from 20% to 30% of the member’s premium, with programs aimed at getting people to quit smoking going up to 50% of the premium. The statewide average health premium is $460 a month in Florida, which means that a wellness program participant is eligible for a 30% rebate could earn $1656 dollars a year!
      That is no small amount, and a family of 4 could reap several thousand dollars a year in wellness program benefits.
    </p>
    <p>
      The caveat to wellness programs is that they cannot be a back door into medical underwriting. That is to say you cannot give someone a payout for having not smoked if the never smoked, nor could you give a skinny person a payout if they did not lose weight during the period and were already skinny. They must make progress during the period, and then their premium goes back to the usual level next period.
      The thought is that if everyone in a plan is participating in the wellness program then their success as a group will lead to lower premiums for everyone. This is also the exact same goal as population health management.
    </p>
    <p>
      Since we are already going to have access to health information over time, adding in a wellness program component to our offerings is a natural fit. It allows us to offer patients motivation in the form of cash rewards and to expand our value to the payers. Payers do not have the
      systems in place to manage wellness programs, however they would love for their patients to be healthier. With the onset of community rating, the payers win with wellness programs since it allows them the ability to set rates high for everyone and then pay the people who are making a difference.
    </p>
    <p>
      So, this all sounds great, but what is your plan? Read on to find out more about our methodology.
    </p>
  </div>
  <div class="tab-pane" id="method" role="tabpanel">
    </br>
    <p>
      Our solution to the problem of population health management is a new type of practice management system, Ajax Health. But what will this system do that other practice management systems don’t do, and why is that relevant?
    </p>
    <p>
      To explain that we need to take a step back. Healthcare in the US has a similar pattern across specialties and facilities - Doctors decide and nurses do. While that is an over simplification to the max (Surgeons both decide and do for example), it is a useful oversimplification in our case.
      Recall that Ajax Health is a facility, not a provider. We are making a place where providers can do a specific type of work - And that work is track health measures over time. Who decides what we track over time? Doctors. Once that decision is made, nurses and techs will do the heavy lifting of taking the measurements specified in a doctor's
      course of observation.
    </p>
    <p>
      A Course of Observation is a set of measurements and time frames for those measurements. It will be designed with a certain population in mind and have a specific objective. For example, if our objective is to reduce the number of pre-diabetic adult males in Tallahassee then we need to decide what measurement will categorize people as pre-diabetic or not.
      For type 2 diabetes, a doctor might decide that the important markers are weight compared to height (BMI) and insulin resistance. Those markers are to be measured quarterly since we are working with pre-diabetics at this point. Once this course has been decided upon, BMI and insulin resistance on a quarterly basis, it is assigned to a population.
    </p>
    <p>
      Once we have a population and a course of treatment, the facility springs into action. We are going to need to track all these people down, figure out how to measure them on a routine basis, and provide the results of these measurements to the providers who are interested. That is where the practice management system becomes crucial - it will keep track of who needs what measured when and what is the 
      best way to get their measures. Once the measures are captured, they are tracked over time and compared to the course of observation. People who achieve the goal of the course (in our example, lower the number of pre-diabetic adult males in Tallahassee) will be eligible for some sort of wellness program benefit.
    </p>
    <p>
      And that is how all the pieces fit together. Of course it is one thing to put up a poorly spelled web page that talks about how we are going to change the world with our new and nifty gadget. It is another thing entirely to actually do it...
    </p>
  </div>
</div>
