<p>Welcome to Ajax Health <%= @email %>!</p>

<p>Thanks for signing up for Ajax Health. We need to confirm your account before we can start.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Once your email address is confirmed we will start you on your first course of observation. Since I am not a clinician, we are going to start pretty simple. The goal is to test our sytem rathern than provide healthcare at this point</p>

<p>Since this is the United States, we figure you probably need to lose some weight and eat better. To that end we are going to collect some baseline data to help assess your progress.</p>

<p>Stay tuned for more.</p>

<p>Rayford</p>